<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<!-- step 1 - enter a console command, see a bunch of output, assume it worked
step 2 - some amount of coding later, notice things are broken
step 3 - scroll way back up in terminal, notice that the output was a bunch of errors
step 4 - slam head against desk repeatedly -->
